<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
introduced in .NET Framework 4. -->
      <service name="PalindromeWCF.PalindromeService"
               behaviorConfiguration="PalindromeServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/PalindromeService2"/>
            <add baseAddress="net.tcp://localhost:8001/PalindromeService2"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="PalindromeWCF.IPalindromeService" />
        <endpoint address="" 
                  binding="netTcpBinding" 
                  contract="PalindromeWCF.IPalindromeService"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PalindromeServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>