<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPalindromeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PalindromeService2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPalindromeService"
                contract="PalindromeServiceRef.IPalindromeService" name="WSHttpBinding_IPalindromeService">
                <identity>
                    <userPrincipalName value="KKO\KKO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>